<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Logs</title>
</head>
<body>

    In this page you can see the Mqtt messages from the topics of your gauges.

    <div class="logs-list-container" id="logs-list-container"></div>

    {{ request.user.pk|json_script:"user-id" }}
    <script>

        console.log(window.location.pathname.split("/")[-2]);
        var items = [], ul;

        // creates list element
        ul = document.createElement('ul')
        {% comment %} ul.setAttribute('class', 'to-do-list__list' ); {% endcomment %}
        ul.setAttribute('id', 'list' );

        const userName = JSON.parse(document.getElementById('user-id').textContent);
        console.log(userName);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/logs/'
            + '1'
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data).data;
            console.log(data);

            items.push(data);

            if(!document.getElementById("list")) {
                document.getElementById('logs-list-container').appendChild(ul);
             }

             updateLogsList();
        };

        // update list items
        function updateLogsList() {
  
            // clear list
            ul.innerHTML = "";
            
            items.forEach(function(item) {
            
            // build list item text
            var itemText = document.createElement('span');
                itemText.setAttribute('class', 'to-do-list__list-item-text');
                itemText.innerHTML += item.value;
            
            // build list item
            var li = document.createElement('li');
                li.setAttribute('class', 'to-do-list__list-item');
                li.appendChild(itemText);
        
            // add list item to list
            ul.appendChild(li);
            });
        }


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    </script>
</body>
</html>