{% extends "equipos/main.html" %}

{% load static %}

{% block head_content %}
<title>Equipos</title>
    <link rel="stylesheet" href="{% static 'css/dashboard/content/cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/content/equipment.css' %}">
{% endblock %}

{% block container %}


    {% for equipment in equipments %}
            <h1 class="titles">{{ equipment.equipment }}</h1>
            <hr></hr>
            <div class="eq-container">
                {% for device in equipment.devices %}
                    <div class="card-wrapper">
                        <div class="card">
                            <a href="/courses{{ science }}/{{ course.name }}">
                            </a>
                            <label class="card-title">{{ device.device.board }}</label>
                        </div>
                        <div class="mini-card-wrapper">
                            {% for gauge in device.gauges %}
                                <div class="mini-card">
                                    {{ gauge.gauge.id }} - {{ gauge.gauge.sensor }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% endfor %}
{% endblock %}
