{% load static %}

{% for equipment in equipments %}
        <div class="Eq-title">
            <h1 class="titles">{{ equipment.equipment }}</h1>
        </div>
        <label class="add-equipment">Add new Device</label>
        <div class="eq-container-2">
            {% for device in equipment.devices %}
            <hr class="h-separators"></hr>
                <div class="card-wrapper">
                    <div class="card">
                        <a href="/courses{{ science }}/{{ course.name }}">
                        </a>
                        <div class="card-img">
                            <img src="{{ device.device.board.image.url }}"/>
                        </div>
                        <label class="card-title">{{ device.device.board }}</label>
                    </div>
                    <div class="mini-card-wrapper">
                        {% for gauge in device.gauges %}
                            <div class="mini-card" onclick="request('DELETE', {{ gauge.gauge.id }})">
                                <span>{{ gauge.gauge.id }} - {{ gauge.gauge.sensor }}</span>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
                <label class="add-equipment">Add new Gauge</label>
            {% endfor %}
        </div>
{% endfor %}
