{% extends "equipment/main.html" %}

{% load static %}

{% block head_content %}
<title>Equipos</title>
<link rel="stylesheet" href="{% static 'css/dashboard/content/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard/content/manage_card.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard/content/equipment.css' %}">
{% endblock %}

{% block container %}
<label 
    class="add-equipment" 
    onclick="post_form(
        'Equipment',
        '/api/equipments/',
        null
    );">
    Add new Equipment
</label>

{% for equipment in equipments %}
        <div class="Eq-title">
            <h1 class="titles">{{ equipment.equipment }}</h1>
            <button class="button" onclick="equipment_requests('GET', '/manage/equipment/', {{equipment.equipment.pk}}, {element: 'equipment'})">Manage</button>
        </div>
        <hr class="h-separators"></hr>
        <div class="eq-container">
            {% for device in equipment.devices %}
                <div class="card-wrapper">
                    <div class="card" onclick="location.href='{% url "management:logs" device=device.device.pk %}';">
                        <div class="card-img">
                            <img src="{{ device.device.board.image.url }}"/>
                        </div>
                        <label class="card-title">{{ device.device.board }}</label>
                        <label class="card-title">ID:{{ device.device.pk }}</label>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endfor %}


<div id="manage-pop" class="pop-div">
    <div class="close-button" onclick='hide_manage()'>
        X
    </div>
    <div id="manage-wrapper" class="manage-card-wrapper">

    </div>
</div>

<div id="post-form" class="pop-div post-form">
    <div class="close-button" onclick='hide_post_form()'>
        X
    </div>
    <div id="manage-wrapper" class="manage-card-wrapper">
        <label id="post-form-id"></label>
        <label id="post-form-url" style="visibility: hidden;" ></label>
        <label id="post-form-equipment" style="visibility: hidden;"></label>
        <label id="post-form-device" style="visibility: hidden;"></label>
        <div style="flex: 1;">
            <label id="post-form-name"></label>
            <label id="#" style="padding-left: 6px;"> name:</label>
        </div>
        <input id="add-equipment-name" type="text" name="name" class="form-input" style="flex: 1;"/>
        <select  
            name="boards"
            class="form-select" 
            id="boards-picker">
        </select>
        <button 
            class="button"  
            style="flex: 1;"
            onclick="post_data(
                document.getElementById('post-form-url').textContent,
                {
                    element: document.getElementById('post-form-name').textContent,
                    user: {{request.user.pk}},
                }
            );">
        Add
        </button>  
    </div>
</div>

<script src= "{% static 'js/manage.js' %}"></script>


{% endblock %}
