{% load static %}

<div id="item-logo-background" class="">
    <div id ="item-logo" class="item-logo">
    <i class="bi bi-tornado"></i>
        Logo
    </div>
</div>

<!--<hr class="rounded">-->

<div id="item-blank1-background" class="item-background blank1">
    <div id ="item-blank1" class="sidebar-item blank1">
            <br>
    </div>
</div>

<div id="item-equipment-background" class="item-background equipment">
    <div id="item-equipment" class="sidebar-item equipment" onclick="page(this)">
        <i class="bi bi-cpu"></i>
        Equipment
    </div>
</div>

<div id="item-resources-background" class="item-background resources">
    <div id="item-resources" class="sidebar-item resources" onclick="page(this)">
    <i class="bi bi-gear-fill"></i>
        Resources
    </div>
</div>

<div id="item-quit-background" class="item-background quit">
    <div id="item-quit" class="sidebar-item quit" onclick="page(this)">
    <i class="bi bi-x-circle"></i>
        Quit
    </div>
</div>

<div id="item-blank2-background" class="item-background blank2">
    <div id ="item-blank2" class="sidebar-item blank2">
            <br>
            <br>
            <br>
    </div>
</div>


