.eq-container {
    display: flex;  
    flex-flow: row wrap;
    row-gap: 50px;
    
}

.card-wrapper {
    display: flex;
    flex-flow: column;
    column-gap: 50px;
    row-gap: 3px;
    font-size: 25px;
    padding: 15px;   
    height: auto;
    width: auto;
}

.card{
    display: flex;  
    flex-flow: row;
    background-color: rgba(23, 123, 177, 0.704);
    padding: 6px;
    border: 3px solid black;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    align-items: center;
    padding: 15px;
}

.card img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.card-title{
    color: white;
    padding-right: 10px;
    text-align: right;
    width: 150px;
}

.card-title-manage{
    color: white;
    padding-right: 10px;
    text-align: right;
    width: 150px;
}

.card-title-manage:hover{
    color: white;
    padding-right: 10px;
    text-align: right;
    width: 150px;
}
.card-title-manage:hover span {
    display: none
  }

.card-title-manage:hover:before {
content: "Delete";
border: 2px solid black;
border-radius: 15px;
background-color: rgb(221, 57, 98);
padding: 3px;
font-size: 25px;
}

.mini-card-wrapper {  
    display: flex;  
    flex-flow: row;
    flex-wrap: wrap;
    column-gap: 3px;
    row-gap: 3px;
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    justify-content: space-between; 
    width: 300px;
    height: auto;
}

.mini-card { 
    color: white;   
    font-size: 15px;
    background-color: rgb(39, 127, 191);
    padding: 6px;
    border: 2px solid black;
    border-radius: 15px;
    width: auto;
    height: auto;
}

.mini-card:hover {  
    color: black;
    background-color: rgb(255, 255, 255);
}
.mini-card:hover span {
    display: none
  }

.mini-card:hover:before {
    content: "Delete";
  }

.asignation_add {
    border-radius: 15%;
    border-width: 2px;
    padding: 1px 20px;
}

.asignation_add:hover {
    color: white;
    background-color: rgb(28, 160, 98);
    border-radius: 15%;
    border-width: 2px;
    padding: 1px 20px;
}

.asignation_remove {
    border-radius: 15%;
    border-width: 2px;
    padding: 1px 20px;
}

.asignation_remove:hover {
    color: white;
    background-color: rgb(190, 61, 22);
    border-radius: 15%;
    border-width: 2px;
    padding: 1px 20px;
}