/* The navigation menu links */
.item-background .sidebar-item{
    background-color: rgb(48, 49, 49);
    color: white;
    border-radius: 0%;
  }

#item-equipment{
    color: black;
    background-color: white;
    border-radius: 25px 0px 0px 25px;

}

#item-user{
    padding: 15px 15px 15px 10px;
    background-color: rgb(48, 49, 49);
    border-radius: 20px 0px 25px 20px;
    border-color: white;

}

#item-settings{
    background-color: rgb(48, 49, 49);
    border-radius: 25px 25px 0px 25px;
    border-color: white;

}

#item-user-background, #item-settings-background{
  background-color: white;
  border-radius: 30px 0px 0px 30px;
}

.titles {
  color: black;
}

.Eq-title {
  display: flex;   
  flex-flow: row;
  justify-content: space-between; 
  padding-top: 15px;
}

.add-equipment{
  padding: 2px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: white;
}

.add-equipment:hover{
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(156, 232, 115);
}