{% load static %}

<div class="nav" id="nav">
    <div class="nav-hamburguer" onclick="menu()">
        <input class="checkbox" type="checkbox" id="checkbox"/>
        <div class="nav-hamburguer-lines">
            <span class="line line1" for="checkbox"></span>
            <span class="line line2" for="checkbox"></span>
            <span class="line line3" for="checkbox"></span>
        </div>
    </div>

    <div class="nav-container">
        <div id="nav-blank-space">
        </div>

        <div id="username" class="nav-item">
            {{ request.user.first_name }} {{ request.user.last_name }} 
        </div>
    </div>

    <hr>
</div>

